{% extends "main.html" %}
{% block title %}{{ template_title }}{% endblock %}
{% block content %}
<h1>{{ template_title }}</h1>
<div class="panel panel-default text-center">
    <form action="/forgetpassword/" method="post" >{% csrf_token %}
    <div class="panel-body">
        <h5 class="forgot-password">{{ message }}</h5>
        {% if is_not_activated != None%}
            <script type="text/javascript">
                setTimeout(function() {
                    window.location.href = "/activation/";
                }, 5000);
            </script>
            <error>{{ is_not_activated }} <a href="/activation/">here</a></error>
        {% endif %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field }} {% for error in field.errors %}<error>{{ error|escape }}</error> {% endfor %}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" id="submit" value="Submit">
        <input type="reset" class="btn btn-danger" id="reset" value="Reset">
        <a href="/login/" class="forgot-password">Back to Login Page</a>
    </div>
    </form>
</div>
{% endblock %}
