{% load humanize %}
{% load static from staticfiles %}
<a href="#" id="private-notifications-menu" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-envelope-1"></i>
</a>
<ul class="dropdown-menu" style="max-height:200px; width:300px; overflow-y: scroll;" data-scrollable>
    {% if private_log|length <= 0 %}
        <li class="media">
            No notifications yet...
        </li>
    {% endif %}
    {% for item in private_log|dictsortreversed:"created_date_time" %}
        <li class="media">
            <a class="pull-left" href="/profile/{{ item.from_user.id }}">
                <img class="media-object thumb" src="{% static item.from_user.profile_image %}" id="common-friends" alt="people">
            </a>
            <div class="media-body">
                <span class="label label-default pull-right">{{ item.created_date_time|naturaltime }}</span>
                <h5 class="media-heading"><a href="/profile/{{ item.from_user.id }}"><b>{{ item.from_user.display_name }}</b></a> {{ item.description }}
                    {% if item.type == 4 or item.type == 5 or item.type == 6%}<a href="/posts/{{ item.posts.id }}">post.</a>{% endif %}</h5>
            </div>
        </li>
    {% endfor %}
</ul>